/* Author: Savannah Raley


/* FONT IMPORT */

@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
*/

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: normal;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
	box-sizing: border-box;
}

/* GLOBAL VARIABLES */
:root {
	--header-font: "Playfair Display", serif;
	--main-font: "Roboto Condensed", sans-serif;
	--main-header-size: 2rem;
	--sub-header-size: 1.7rem;
	--emphasis-text-size: 1.3rem;
	--regular-text-size: 1rem;
	--light-text: #e3dfd4;
	--dark-text: #2e2e38;
	--light-bg: #e3dfd4;
	--dark-bg: #2e2e38;
	--green-accent: #747567;
	--gold-accent: #9e8c68;
	--dark-green: #333b2b;
}

/* GLOBAL STYLES */

/* ---SKIP TO MAIN LINK--- */

#skip {
	position: absolute;
	left: -9999px;
	z-index: 999;
	padding: 1em;
	background-color: black;
	color: white;
	opacity: 0;
}

#skip:focus {
	left: 50%;
	transform: translateX(-50%);
	opacity: 1;
}
body, form input, textarea{
	background-color: var(--light-bg);
	overflow-x: hidden;
	font-family: var(--main-font);
	font-size: var(--regular-text-size);
}
#about, footer, #stylists, #stylist-duo, #apply-direction{
	background-color: var(--dark-bg);
	color: var(--light-text);
}
#testimonial, #app-form{
	background-color: var(--green-accent);
	color: var(--light-text);
}
h1, h2, h3, #services-ul li, h2 + p, h1 + p, #brands li{
 font-family: var(--header-font);
}
h1, h2, h3{
	font-size: var(--main-header-size);
	text-transform: capitalize;
	margin-bottom: 5px;
}

h1 + p, #services-ul, blockquote, #brands li, #testimonial, #contactSubmit, #applySubmit{
	font-size: var(--emphasis-text-size);
}


/* UTILITY CLASSES */

.sr-only { /*keeps elements screen reader accessible but hides them by moving them off-page */
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
.hidden{
	display: none;
}
.error{
	color: rgb(255, 196, 0);
	font-weight: bold;
}
.break:before{ /*adds line breaks where i want them */
	content: "\a";
	white-space: pre;
}

.flex{ /*turns tag into flexbox container*/
	display: flex;
}
.column{ /*applies a column flex-direction*/
	flex-direction: column;
}
.section-padding{/*sets standard padding for non-full bleed sections */
	padding: 5vh 5vw;
}
.section-x-padding{
	padding: 0 5vw;
}
.padding-top-l{
	padding-top: 100px;
}
.small-break{
	font-size: var(--sub-header-size);
}
.large-break{
	text-transform: uppercase;
	font-size: 3rem;
	line-height: 2rem;
}
.circle-button{
	background-size: cover;
	background-position: center;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--gold-accent);
}
.nowrap{
	white-space: nowrap;
}


/*Link Interaction Styling*/
#nav-links .active{
	border-left: 3px solid var(--light-bg) ;
	padding-left: 5px;
}
#nav-links a:hover{
	color: var(--gold-accent);
}
.circle-button:hover{
	transform: rotate(40deg);
	transition: .5s ease-in-out;
}
#contactSubmit:hover, #applySubmit:hover{
	background-color: var(--dark-green);
	transition: .2s ease-in-out;
}

/* -----MOBILE STYLES----- */
/* ---Navbar--- */
.header-bar{
	position: fixed; /* Lets hero image show through navbar */
	width: 100vw; /* keeps it same width as screen */
	top: 0; /*keeps it at top of page */
	display: grid; grid-template-columns: 1fr 1fr; 
	background-color: rgba(0, 0, 0, 0);
	border-bottom: 1px solid var(--light-bg);
	transition: background-color 0.3s ease-in-out;
	padding: 10px ;
	z-index: 100;
}
.scrolled{ /*class added to .header-bar to change the bg when scrolled past h1 */
	background-color: var(--dark-bg);
	color: var(--light-text);
	transition: background-color 0.3s ease-in-out;
}
#header-logo{
	height: 50px;
}
.nav-wrapper {
	position: relative;
	grid-row-start: 1;
}
/* Hide checkbox */
.menu-checkbox {
	display: none;
}
/* Style for the menu button */
.menu-button {
	position: absolute;
	right: 20px;
	z-index: 1000;
	cursor: pointer;
}
/* Dropdown */
.dropdown {
	position: absolute;
	top: 60px;
	right: -200%; /* Start off-screen */
	width: 50vw; height: 100vh; 
	background: rgba(46, 46, 56, 0.9);
	box-shadow: -2px 10px 5px 0px rgba(0,0,0,0.20);
	transition:right 0.3s ease-in-out;
	z-index: 999;
	display: grid; grid-template-rows: 25px 50vh 1fr;
	padding-right: 20px;
}
/* Make dropdown visible when checkbox is checked */
.menu-checkbox:checked ~ .dropdown {
	right: -30px;
}
/* Makes it so that the header bg matches the dropdown's when clicked */
#header-bar:has(.menu-checkbox:checked){
	background-color: rgba(46, 46, 56, 0.9);
}
#nav-links {
	list-style: none;
	padding-left: 10px;
	justify-content: space-between;
	grid-row-start: 2;
}
#nav-links li {
	border-bottom: 1px solid var(--light-bg);
}
#nav-links a {
	text-decoration: none;
	font-size: var(--sub-header-size);
	font-weight: bold;
	transition: color 0.2s;
	color: var(--light-text);
}
/* Social Links */
.social-links {
	height: fit-content;
	margin-top: 50px;
	justify-content: center;
	grid-row-start: 3;
}
.social-links li{
	border: 1px solid var(--light-bg);
}
.social-links img {
	padding: 5px;
	width: 50px; height: 50px;
}
/* ---HERO SECTION--- */
#hero{
	background: /* gradient helps text stand out against image */
	linear-gradient(90deg, rgba(31, 32, 32, 0.438) 5%, rgba(216, 216, 217, 0) 76%),url('Images/hero.jpg');
	background-position: 15%;
	background-repeat: no-repeat;
	background-size: cover;
	color: var(--light-bg);
}
/* ---SERVICES SECTION--- */
#services{
	position: relative; /* Will let me position #services-ul relative to this container */
	display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 200px 50px 100px 150px 1fr; /*creates a 2x5 grid*/
	grid-gap: 10px;
}
#services-img-container{ /*adds image to services container */
	grid-row: 1 / span 2; grid-column: 2;
	background-image: url('Images/services.jpg');
	background-size: cover;
	background-position: center;
}
/* Services Main List */
#services-ul{
	position: absolute; /* absolute positioning so it can overlap the picture */
	width: 60vw; 
	top: 210px;
}
/* List styling */
#services-ul li{
	color: var(--light-text);
	background-color: var(--green-accent);
	border: 3px solid var(--dark-green);
	justify-content: center;
	margin: 10px;
	padding: 10px;
}
/* Specialties List */
#specialties{
	grid-row: 4; grid-column: 1 / span 2; /* spans across screen */
	border: 1px solid var(--green-accent);
	padding: 25px;
}
#specialties h3{
	font-size: var(--emphasis-text-size);
}
#specialties ul{
	list-style-type: circle;
	color: #333b2b;
	display: grid; grid-template-columns: 1fr 1fr; /* Creates a grid for the list so it has two columns */
	column-gap: 20px;
	max-width: 400px;
	margin: 0 auto;
}
/* Services Link Group Styling */
#services-link-group{
	grid-row-start: 5; grid-column: 1 / span 2; /*places at bottom and stretches across page */
	display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 160px .5fr; /*creates 2x2 grid*/
	row-gap: 10px; column-gap: 10px;
}
/* "Book Now" button styling */
#services a{ /*adds image to link */
	background-image: url('Images/Logos_Icons/schedule_button.svg');
	max-width: 160px;
}
#services-link-group p{
	align-self: center;
}
#services-link-group a + p{
	text-align: center;
	grid-column: span 2;
}
/* Defines Section */
#defines{
	background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('Images/defines_img.jpg');
	background-size: cover;
	background-position-y: bottom;
}
#defines p{ /*places some space between the paragraphs */
	margin-bottom: 10px;
}
/* Brands Section */
#brands{
	display: grid; grid-template-rows: 3fr 1fr 1fr; /* creates grid so that the image container has something to stretch to */
}
#brands-img-container{ /* responsive bg image that crops itself */
	background: linear-gradient(90deg, rgba(31, 32, 32, 0.438) 5%, rgba(216, 216, 217, 0) 76%),url('Images/brands_img.jpg');
	background-size: cover;
	background-position: center;
	width: 75%; height: 85%;
	margin: 0 auto;
	align-self: end; /* places image at bottom of grid cell so it overlaps with the h3 */
}
#brands h3{ /* overlaps text slightly with the image */
	position: relative;
	top: -30px;
}
#brands li{
	padding: 15px 10px;
	align-items: center; /* places span at vertical center */
}
#brands ul span{ /* turnng the span element into a horizontal line */
	display: block;
	width: 100%; height: 0;
	border: 1px solid var(--light-bg);
	margin-left: 10px;
}
/* ---TESTIMONIAL--- */
#testimonial{
	border: 3px solid var(--dark-green);
	border-left: none;
	border-right: none;
}
#quote{ /* styling the customer's quote */
	grid-column: span 2; /* stretches across entire grid */
	align-items: start;
	margin: 25px auto;
}
#quote img{
	width: 50px;
	padding-right: 10px;
	position: relative;
	top: -20px
}
#testimonial .break{
	font-style: italic;
}
/* ---GALLERY--- */
#gallery{
 text-align: center;
	margin-bottom: 50px;
}
/* ---FOOTER--- */
footer{
	padding-top: 50px;
}
/* Contact section */
#contact h2, #contact h2 + p{ /* hides the title and subtitle but keeps them acessible */
	position: absolute;
	left: -10000px; top: auto;
	width: 1px; height: 1px;
	overflow: hidden;
}
footer img:first-child{ /*places salon logo center */
	width: 100px;
	align-self: center;
}
/* Form */
form{
	max-width: 600px;
	margin: 0 auto;
}
form label{
	padding: 15px 0 5px 0;
}
#comm{
	margin-bottom: 50px;
}
form input{
	height: 40px;
}
#comm input{
	height: 100px;
}
#contactSubmit,#applySubmit{
	height: 50px;
	background-color: var(--gold-accent);
	border: none;
	text-transform: uppercase;
	color: var(--light-text);
}
#name-error, #email-error{
	grid-row: 2;
}
/*Contact form sucessful submission styling*/
.outer-box{
	text-align: center;
	position: relative;
	padding: 30px;
	--mask:
 radial-gradient(40px at 40px 40px,#0000 calc(98% - 3px),#000 calc(100% - 3px) 98%,#0000) -40px -40px,
 linear-gradient(90deg,#000 6px,#0000 0) -3px 50% /100% calc(100% - 80px + 3px) repeat-x,
 linear-gradient( #000 6px,#0000 0) 50% -3px/calc(100% - 80px + 3px) 100% repeat-y;
}

.outer-box:before {
	content: "";
	position: absolute;
	inset: 0;
	background: radial-gradient(circle, rgba(158,140,104,1) 50%, rgba(158,140,104,0) 100%);
	-webkit-mask: var(--mask);
	mask: var(--mask);
 }
/* Footer info */
#footer-info{
	display: grid; grid-template-columns: 1fr 1fr;
	position: relative;
}
#footer-info nav,#footer-info section{
	padding: 25px 15px ;
}
#footer-info a{
	color: #a7a49e;
}
#footer-info h2{
	font-family: var(--main-font);
	font-size: var(--regular-text-size);
}
footer nav li{
	padding: 5px 0;
}
address,footer dl,footer ul,#hours p,small{
	color: #a7a49e;
	line-height: 1.2rem;
	font-size: .8rem;
}
/* Socials */
#socials{
	grid-column: span 2;
	justify-content: space-between;
}
#socials h2{
	font-family: var(--header-font);
	font-size: var(--main-header-size);
}
#socials ul{
	padding-right: 30px;
}
#socials img{
	width: 50px;
}
/* Business hours */
#hours dl{
	display: grid; grid-template-columns: 1fr 1fr;
}
/* Site Navigation */
#site-nav{
	grid-column: 2;
}
/* Legal Section */
#policies-nav{
	grid-row: 4;
}
#copywrite{
	grid-column: span 2;
	text-align: center;
	padding: 15px;
}
/* -----SCHEDULE PAGE STYLING----- */
/* ---HEADER--- */
.dark-nav{
	background-color: var(--dark-bg);
}
/* ---STYLIST BLOCKS--- */
#stylists{
	display: grid;
	grid-gap: 5vw;
}
.stylist-duo{ /*places each duo in a 2x1 grid*/
	border: 1px solid var(--light-bg);
	display: grid; grid-template-columns: 50% 50%;
	column-gap: 5vw;
	padding-top: 20px; padding-bottom: 20px;
}
/* Article Styling */
article{ /*makes each article a flexbox so the figure aligns with the schedule button*/
	align-items: center;
	justify-content: center;
}

figcaption,article a{
	text-align: center;
	color: var(--light-text);
}
figure{
	text-align: center;
}
figcaption{ /*displays caption above image*/
	position: relative;
	z-index: 50;
}
figure img{
	display: block;
	border-radius: 50%;
	width: 100%;
}
figcaption p{
	font-style: italic;
	padding: 5px 0 15px 0;
	font-family: var(--header-font);
}
.overlay{ /* moves stylist image to overlap with name */
	position: relative;
 top: 15%;
	width: 80%;
	margin: 0 auto;
}
.overlay:after{ /* adds linear gradient overlay to photos for text visibility */
	border-radius: 50%;
	content: '';
	position: absolute;
	left: 0; top: 0;
	width: 100%; height: 100%;
	background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%);
}
#preston{
	width: 40%;
	grid-column: span 2;
	justify-self: center;
}
/* Schedule button */
article a{
	text-decoration: none;
	border: 1px solid var(--light-bg);
	border-radius: 5px;
	padding: 15px 20px;
	font-style: italic;
}
/* ---APPLY DIRECTION--- */
#apply-direction{
	background: /* gradient helps text stand out against image */
	linear-gradient(0deg, rgba(31, 32, 32, 0.6) 100%, rgba(216, 216, 217, 0) 76%),url('Images/apply_img_blur.png');
	background-size: cover;
}
#apply-direction div{
	display: grid; grid-template-columns: 1fr 200px; grid-template-rows: 200px;
	justify-items: center;
	max-width: 500px;
	margin: 0 auto;
}
#apply-direction a{
	background-image: url('Images/Logos_Icons/apply_button-cropped.svg');
	width: 100%;
	color: var(--light-text);
}
/* -----APPLICATION PAGE----- */
/* ---HEADER--- */
#app-header{ /*creates 2x2 grid*/
	display: grid; grid-template-columns: 1fr 1fr;
}
#app-header p{
	grid-column: 1;
	font-size: var(--regular-text-size);
}
#apply-img-container-header{ /*flexible self-cropping image for header*/
	grid-column: 2; grid-row: 1 / span 2;
	background-image: url('Images/brands_img.jpg');
	background-size: cover;
	background-position: center;
	margin: 5vw;
	min-height: 30vh;
}
#phone{
	margin-bottom: 15px;
}
fieldset legend{
	padding-top: 0;
}
fieldset{
	border: 1px solid var(--light-bg);
	padding: 20px;
	align-items: center;
	justify-content: space-around;
}
fieldset label{
	align-items: center;
}
#applySubmit{
	margin-top: 20px;
}
input[type="file"]{
	background-color: transparent;
	border: none;
	color: var(--light-text);
	text-transform: uppercase;
}
#sucessful-apply-submit{
	grid-column: span 2;
	justify-self: center;
	font-size: var(--emphasis-text-size);
	padding: 10vh 0;
}
#sucessful-apply-submit p{
	color: #e3dfd4;
	padding: 10vh 0;
}

/* Custom Radio Buttons */
 .form-control {
	font-size: 1.5rem;
	line-height: 1.1;
	display: grid;
	grid-template-columns: 1em auto;
	gap: 0.5em;
 }

 input[type="radio"] { /*Styling the radio's container to look like a radio button*/
	appearance: none; /*hides native radio button but keeps it acessible*/
	background-color: var(--light-bg);
	margin: 0;
	font: inherit;
	color: currentColor;
	width: 1.15em;
	height: 1.15em;
	border: 0.15em solid currentColor;
	border-radius: 50%;
	display: grid;
	place-content: center;
 }
 input[type="radio"]::before { /*styles the "checked" circle*/
	content: "";
	width: 0.65em;
	height: 0.65em;
	border-radius: 50%;
	transform: scale(0); /*default hidden*/
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--dark-green);
 }

 input[type="radio"]:checked::before { /*scales it to be visible when checked*/
	transform: scale(1);
 }
/* ---ICON ATTTRIBUTION--- */

.icon, .atrribute-image{
	justify-content: center;
	padding: 10px;
}
.icon h3, .icon figcaption, .atrribute-image h3, .atrribute-image figcaption  {
	color: var(--dark-text);
	text-decoration: none;
	text-align: center;
}
.icon h3{
	font-size: var(--emphasis-text-size);
}
.attr img{
	border-radius: 0;
}
.icon img{
	width: 50px;
	margin: 0 auto;
}


 /* -----MEDIUM STYLES----- */

 @media screen and (min-width: 768px){
	:root{ /*redefining the font size variables */
		--main-header-size: 5rem;
		--sub-header-size: 3.5rem;
		--emphasis-text-size: 2rem;
		--regular-text-size: 1rem;
	}
	.small-break{ /* adjust line height gap */
		position: relative;
		top: -25px;
		white-space: nowrap;
	}
	.large-break{
		font-size: 7rem;
	}
	#nav-links a{
		font-size: var(--emphasis-text-size);
	}
	#hero p{
		max-width: 300px;
	}
	/* ---SERVICES--- */
	#services{ /*resizing grid layout*/
		grid-template-rows: .2fr .2fr .5fr .5fr 1fr; grid-template-columns: 1fr 1.5fr;
	}
	#services-img-container{
		grid-row: 2 / span 3;
	}
	#services-ul{ /*places list back into grid beside img */
		position: static;
		grid-row: 3;
		width: 100%;
		display: grid; grid-template-columns: 1fr 1fr; 
	}
	#services-ul li{ /*aligns text in green boxes*/
		align-items: center;
		align-self: end;
	}
	/* Specialties */
	#specialties{
		grid-column: 1; grid-row: 4;
	}
	#specialties ul{
		column-gap: 50px;
	}
	/* Link group Styling */
	#services-link-group{
		grid-template-rows: 1fr 1fr;
		max-width: 600px;
		min-height: 160px;
		margin: 0 auto;
		margin-top: 50px;
	}
	#services-link-group a + p{ /*places text beside button instead of under it*/
		grid-column: span 1;
		text-align: left;
	}
	#services a{
		grid-row: span 2;
	}
	/* ---DEFINES SECTION--- */
	#defines{
		height: 40vh;
		background:linear-gradient(90deg, rgba(46, 46, 56, 1), rgba(0, 0, 0, 0) 55%),url("Images/defines_img.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 30vw;
		min-height: 350px;
		padding-top: 100px;
	}
	#defines p{
		max-width: 400px;
		padding-left: 15px;
	}
	#defines h3{
		padding-bottom: 25px;
	}
	/* ---BRANDS SECTION--- */
	#brands{
		grid-template-columns: 1fr 1fr;
		column-gap: 5vw;
	}
	#brands-img-container{
		grid-row: span 2;
		width: 100%; height: 100%;
	}
	#brands h3{
		position: static;
		grid-column: 1; grid-row: 1;
		align-self: end;
		padding-bottom: 25px;
	}
	#brands p{
		max-width: 400px;
	}
	#brands ul span{
		display: none;
	}
	#brands ul{ /*creating the 5 horizontal squares displaying the brands */
		grid-column: span 2;
		display: grid; grid-template-columns: repeat(5, 1fr);
		column-gap: 5vw;
		padding-top: 50px;
		justify-items: center;
		margin: 0 auto;
	}
	#brands li{
		white-space: wrap;
		font-size: var(--regular-text-size);
		border: 1px solid var(--light-bg);
		justify-content: center;
		text-align: center;
		width: 100%;
	}
	#footer-info{
		position: relative; /*relative positioning so that the copywrite and socials section absolutely positions itself according to this container*/
		background-color: var(--dark-bg);
		color: var(--light-text);
		grid-template-columns: repeat(5, 1fr);
		padding: 10vh 10vw 0 10vw;
	}
	address,footer dl,footer ul,#hours p,small{
		font-size: 1rem;
	}
	#socials{
		grid-column: span 5;
	}
	#socials img{
		width: 100px;
	}
	#site-nav h2,#policies-nav h2{ /*places socials images to the left of everything*/
		position: absolute;
		left: -10000px; top: auto;
		width: 1px; height: 1px;
		overflow: hidden;
	}
	#hours, #payment{
		grid-row: 3;
	}
	#hours, #address{
		grid-column: span 2;
	}
	#contact-info, #payment{
		grid-column: 4 / span 2;
	}
	#site-nav,#policies-nav{ /*stretches the site nav and policies nav across screen */
		grid-column: 1 / span 5;
	}
	#site-nav ul, #policies-nav ul{
		display: flex;
		justify-content: center;
		text-align: center;
	}
	#site-nav li{
		padding: 0 25px;
	}
	#policies-nav ul{
		margin-bottom: 50px;
	}
	#policies-nav li{
		padding: 0 15px;
	}
	#copywrite{ /*places section back into grid*/
		grid-row: 6; grid-column: span 6;
		margin-bottom: 20px;
	}
	/* -----SCHEDULING PAGE----- */

	figcaption h3, #apply-direction h2{
		font-size: var(--sub-header-size);
	}
	.overlay{
		max-width: 250px;
	}

	/* ---ICON ATTRIBUTION--- */
	#icons{
		display: grid; grid-template-columns: 1fr 1fr 1fr;
	}
	#icons h2{
		grid-column: span 3;
	}
	
 }

@media screen and (min-width: 1200px){
	:root{ /*redefining the font size variables */
		--main-header-size: 6rem;
		--sub-header-size: 3.5rem;
		--emphasis-text-size: 2.3rem;
		--regular-text-size: 1.5rem;
	}
	h3{
		font-size: var(--main-header-size);
	}
	.section-padding{
		padding: 10vh 15vw;
	}
	.error{
		font-size: 1rem;
		color: rgb(255, 0, 0);
	 }
	 /*Link Interaction Styling*/
	#nav-links .active{
		border-left: none; border-top: 3px solid var(--light-bg) ;
}
	#header-bar{ /* placing logo and nav side by side */
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	/* ---DROPDOWN MENU-- */
	nav label,nav input{ /* hiding hamburger icon */
		display: none;
	}
	/* Getting rid of the dropdown menu */
	.dropdown {
		display: block;
		position: static; /* brings dropdown back to being onscreen on page load */
		background-color: transparent;
		box-shadow: none;
		width: auto; height: auto;
	}
	/* Navigation links styling */
	#nav-links { /* arranges nav items horizontally instead of vertically */
		flex-direction: row;
		justify-content: right;
	}
	#nav-links li { /* gets rid of previous styling */
		border: none;
	}
	#nav-links a {
		font-size: 1rem;
		padding: 0 15px;
	}
	.social-links{ /* gets rid of facebook and insta icons */
		display: none;
	}
	/* ---HERO SECTION--- */
	#hero{
		padding-top: 25vh;
		height: 75vh;
	}
	/* ---SERVICES--- */
	#specialties ul{
		margin-left: 25px;
	}
	#services-link-group{
		max-width: 800px;
	}
	#services a{
		max-width: 250px;
	}
	/* ---DEFINES SECTION--- */
	#defines{
		height: 50vh;
		min-height: 500px;
	}
	#defines h3{
		margin-top: 10vh;
	}
	#defines p{
		max-width: 500px;
	}
	#brands h3{
		min-width: 460px;	
	}
	/* ---BRANDS SECTION--- */
	#brands{
		grid-template-rows: repeat(3, 1fr);
	}
	/* ---TESTIMONIAL--- */
	#testimonial{ /*rearranges items so attribution is displayed to left of quote*/
		flex-direction: row-reverse;
		align-items: center;
		justify-content: center;
	}
	#quote{
		margin: 10vh 0;
		border-left: 2px solid var(--light-bg);
		max-width: 600px;
	}
	#testimonial p{
		padding-right: 50px;
	}
	/* ---CONTACT--- */
	footer{
		background-color: transparent;
		color: var(--dark-text);
	}
	footer img[alt="Fringe salon logo"]{ /*hides logo*/
		display: none;
	}
	#contact{ /*creates 2 column grid*/
		display: grid; grid-template-columns: .5fr 1fr;
	}
	#contact h2,#contact h2 + p{ /*places h2 and subheader back on screen*/
		position: static;
		width: 100%; height: auto;
		grid-column: 1 / span 2;
	}
	#contact form{
		grid-column: 2;
		width: 100%;
		border: 2px solid var(--dark-green);
		display: grid; grid-template-columns: 1fr 1fr; /*creates 2x3 grid*/
		column-gap: 25px;
		padding: 5vh 5vw;
		margin-top: 5vh;
	}
	form input, textarea{
		border: 3px solid var(--gold-accent);
		font-size: .8rem;
	}
	#name, label[for="email"]{
		grid-column: 1;
	}
	#name, #email{
		grid-row: 3;
	}
	#comm{
		grid-row: 4;
	}
	#contactSubmit{
		grid-row: 5;
	}
	#email,label[for="email"], #contact-form #email-error{
		grid-column: 2;
	}
	#comm,label[for="comm"]{
		grid-column: 1 / span 2;
	}
	#contactSubmit{
		width: 50%;
		font-size: var(--regular-text-size);
		border: 3px solid var(--light-bg);
	}

	#contact-img-container{ /*makes img visible in container and places it to overlap with the submit button*/
		background-image: url("Images/contact_img.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		width: 50vw; height: 40vh;
		max-width: 1100px; max-height: 600px;
		grid-column: 1 / span 2;
		z-index: -50;
		position: relative;
		top: -125px
	}
	#socials{
		grid-column: 1 / span 1;
		grid-row: 1;
	}
	#socials ul{
		flex-direction: column;
	}
	#socials h2,#site-nav h2,#policies-nav h2{ /*places socials images to the left of everything*/
		position: absolute;
		left: -10000px; top: auto;
		width: 1px; height: 1px;
		overflow: hidden;
	}
	#contact-info, #hours, #payment, #address{
		grid-column: span 1;
		grid-row: 1;
	}
	#copywrite{ /*places section back into grid*/
		grid-row: 5;
		margin: 0; margin-bottom: 20px;
	}
	/* -----SCHEDULE PAGE STYLING----- */
	#stylists{ /*creates a 3-column grid for spacing purposes*/
		grid-template-columns: repeat(3, 25vw);
		padding-top: 30vh;
	}
	#schedule-header div:first-child{
		padding: 100px 0 5vh 5vw;
	}
	#schedule-header .break{
		margin-top: 20px;
	}
	#schedule-header p{
		font-size: 2rem;
		min-width: 0%;
		width: 30vw;
	}
	article h3{
		font-size: 2.5rem;
	}
	#owner-duo{ /*places owners so that they are stuick to the right side of the screen*/
		right: -12vw;
		max-width: 55vw; 
		column-gap: 1vw;
		background-color: var(--dark-bg);
	}
	.stylist-duo{
		position: relative;
		top: -45vh; /*shifts all duos upwards*/
		grid-column: 1 / span 3;
		justify-self: center;
		padding: 2vh 7vw;
	}
	.stylist-duo:not(#owner-duo){
		right: 7vw;
	}
	figure{ /*displays figcaption beside img*/
		display: grid; grid-template-columns: 1fr 1fr;
		column-gap: 1rem;
	}
	.overlay::after{
		display: none;
	}
	figcaption{
		text-align:left;
		align-self: center;
	}
	article a{
		position: relative;
		width: 25%;
		background-color: var(--dark-bg);
	}
	article:not(#preston) a{
		left: -24%;
	}
	#preston{
		width: 100%;
	}
	#preston a{
		left: -20%;
	}
	#apply-direction{
		position: relative;
		top: -20vh;
	}
	#apply-direction div{
		grid-template-rows: 400px;
		grid-template-columns: 1fr 400px;
		max-width: 800px;
		min-height: 400px;
	}
	#schedule-header ~ footer #contact{
		padding-top: 0;
	}
	/* -----APPICATION PAGE----- */
	#apply-body{
		display: grid;
		grid-template-columns: 35vw 65vw;
	}
	#app-header{
		display: block;
		padding-bottom: 0;
	}
	#app-header p{
		font-size: 1.5rem;
		line-height: 2rem;
		max-width: 600px;
	}
	#app-header h1{
		min-width: 390px;
	}
	#apply-img-container-header{
		background-image: none;
		min-height: fit-content;
	}
	#app-form{
		background-color: transparent;
		color: var(--dark-text);
		padding-top: 0;
	}
	#apply-form{
		column-gap: 25px;
	}
	#app-form form{
		display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: repeat(5, 15vh);
		max-width: 50vw;
		margin: 0 auto;
		border: none;
		row-gap: 10px;
		width: auto;
	}
	#apply-img-container{
		background-image: url('Images/brands_img.jpg');
		background-size: cover;
		background-position: center;
		grid-row: 1 / span 4; grid-column: 2;
	}
	#input-fields{
		grid-row: 2 / span 4;
		border: 1px solid var(--dark-bg);
		padding: 5vh 2vw;
		justify-content: center;
	}
	#applySubmit{
		grid-row: 5; grid-column: 2;
		width: 100%; height: 50%;
		margin: 0;
		align-self: end;
	}
	#sucessful-apply-submit p{
		color: #41414e;
	}
	fieldset{
		border: 3px solid var(--gold-accent);
	}
	input[type="radio"] {
		background-color: var(--light-bg);
	 }
	 input[type="radio"]::before { /*styles the "checked" circle*/
		box-shadow: inset 1em 1em var(--gold-accent);
	 }
}

