/* Author: Savannah Raley


/* FONT IMPORT */

@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: normal;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
}





/* GLOBAL VARIABLES */

:root {
    --header-font: "Playfair Display", serif;
    --main-font: "Roboto Condensed", sans-serif;
    --main-header-size: 2rem;
    --sub-header-size: 1.7rem;
    --emphasis-text-size: 1.3rem;
    --regular-text-size: 1rem;
    --light-text: #e3dfd4;
    --dark-text: #2e2e38;
    --light-bg: #e3dfd4;
    --dark-bg: #2e2e38;
    --green-accent: #747567;
    --gold-accent: #9e8c68;
    --dark-green: #333b2b;
}

/* GENERAL STYLES */


h1, 
h2,
h3{
    font-size: var(--main-header-size);
    font-family: var(--header-font);
    text-transform: capitalize;
    padding-bottom: 10px;
}

h3{
    font-size: var(--sub-header-size);
    font-family: var(--header-font);
    text-transform: capitalize;
}

p, 
nav, 
ul, 
form{
    font-family: var(--main-font);
    font-size: var(--regular-text-size);
}

body{
    background-color: var(--light-bg);

}



/* Utility Classes */
.sr-only { /*keeps elements screen reader accessible but hides them by moving them off-page */
    position:absolute; 
    left:-10000px; top:auto;
    width:1px; height:1px;
    overflow:hidden;
}

.break:before{ /*adds line breaks where i want them */
    content: "\a";
    white-space: pre;
}

.circle-button{
    display: flex; /* flex for text positioning */
    margin-left: 20px;
    width: 80%;
    align-items: center; justify-content: center;
    background-size: cover; /* sizing and centering image */
    background-repeat: no-repeat; /* sizing and centering image */
    background-position: center; /* sizing and centering image */
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--gold-accent);
}

.padding-m{ /*sets standard padding for non-full bleed sections */
    padding: 5vh 5vw;
}

.x-padding-m{
    padding: 0 5vw;
}

.small-break{
    font-size: var(--sub-header-size);
}



/* -----HOMEPAGE----- */

/* Navbar */

#header-bar{
    position: absolute; /* Lets hero image show through navbar */
    width: 100vw; /* keeps it same width as screen */
    top: 0; /*keeps it at top of page */
    display: grid; grid-template-columns: 1fr 1fr; /* creates 2x1 grid to seperate the logo from the menu icon */
    background-color: transparent;
    border-bottom: 1px solid var(--light-bg);
    padding: 10px ;
}

#header-logo{
    height: 50px;
}

.nav-wrapper {
    position: relative;
    grid-row-start: 1;
}

/* Hide checkbox */
.menu-checkbox {
    display: none;
}

/* Style for the menu button */
.menu-button {
    position: absolute;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
}

/* Style for the dropdown */
.dropdown {
    position: absolute;
    top: 60px; right: -200%; /* Start off-screen */
    width: 50vw; height: 100vh; /* Full height */
    background: rgba(46, 46, 56, 0.9);
    box-shadow: -2px 10px 5px 0px rgba(0,0,0,0.20);
    transition: right 0.3s ease-in-out;
    z-index: 999;
    display: grid; grid-template-rows: 50px 2fr 1fr;
    padding: 10px 30px 10px 10px;
}

/* Make dropdown visible when checkbox is checked */
.menu-checkbox:checked ~ .dropdown {
    right: -30px; /* Slide in */
}

/* Makes it so that the header bg matches the dropdown's when clicked */
#header-bar:has(.menu-checkbox:checked){
    background-color:rgba(46, 46, 56, 0.9);;
}

/* Navigation links styling */
.nav-links {
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex; flex-direction: column;
    justify-content: space-between;
    grid-row-start: 2;
}

.nav-links li {
    border-bottom: 1px solid var(--light-bg);
}

.nav-links a {
    text-decoration: none;
    font-size: var(--main-header-size);
    font-weight: bold;
    transition: color 0.2s;
    color: var(--light-text);
}


/* Social Links */
.social-links {
    height: fit-content;
    width: fit-content;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    grid-row-start: 3;
}

.social-links li{
    border: 1px solid var(--light-bg);
}

.social-links img {
    padding: 15px;
    width: 50px;
    height: 50px;
}



/* HERO SECTION  */

#hero{

    background:  /* gradient helps text stand out against image */
        linear-gradient(90deg, rgba(31, 32, 32, 0.438) 5%, rgba(216, 216, 217, 0) 76%),
        url('Images/hero.jpg');
    background-position: 15%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    color: var(--light-text);
}
 
#hero p{
    width: 50vw;
    max-width: 200px;
}

#hero p{
    padding-top: 10px;
    font-family: var(--header-font);
    font-size: var(--emphasis-text-size);
}


/* SERVICES SECTION  */

#services{
    position: relative; /* Will let me position #services-ul relative to this container */
    padding-top: 100px;
    display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 200px 50px 100px 150px 1fr;
    grid-gap: 10px;
}


#services-img-container{
    grid-row: 1 / span 2; grid-column: 2; /* positioning img container in grid */
    width: 100%;
    background-image: url('Images/services.jpg'); /*placing image in container */
    background-size: cover;
    background-position: center;
}

#services h2 + p{
    font-family: var(--header-font);
}

/* Services Main List */

/* Positioning */
#services-ul{
    position:absolute; /* absolute positioning so it can overlap the picture */
    width: 60vw; /* responsive width */
    top: 210px;
}

/* List styling */
#services-ul li{
    font-family: var(--header-font);
    color: var(--light-text);
    font-size: var(--emphasis-text-size);
    background-color: var(--green-accent);
    border: 3px solid var(--dark-green);
    text-align: center;
    margin: 10px;
    padding: 10px;
}

/* Specialties List  */

/* Positioning */
#specialties{
    grid-row: 4; grid-column: 1 / span 2; /* spans across screen */
    border: 1px solid var(--green-accent);
}

#specialties h3{
    font-size: var(--emphasis-text-size);
}

/* Creates a grid for the list so it has two columns  */
#specialties ul{
    padding-left: 10px;
    list-style-type: circle;
    color: #333b2b;
    display: grid; grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    /* keeps list centered for responsivness */
    max-width: 400px;
    margin: 0 auto;
}

/* Services Bottom Group Styling */
#services-link-group{
    grid-row-start: 5; /* positioning at bottom of section */ grid-column: 1 / span 2; /*stretches across page */
    display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 160px .5fr; 
    row-gap: 10px; column-gap: 10px;
    /* keeps sectioned centered and a reasonable size for resposnivness  */
    max-width: 400px;
    align-self: center;
    margin: 0 auto;
}

/* "Book Now" button styling  */
#services a{
    background-image: url('Images/Logos_Icons/schedule_button.svg'); /*adds image to link */
}

#services-link-group p{
    align-self: center;
}

#services-link-group a + p{ /* styles the text about provided amnenities */
    text-align: center;
    grid-column: span 2; /* stretches across screen */
}


/* ---ABOUT SECTION---  */

#about{
    padding: 0; /*lets bg image stretch across page */
    background-color: var(--dark-bg);
    color: var(--light-text)
}


/* Defines Section */

#defines{
    background: 
        linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* dark overlay to help with text visibility */
        url('Images/defines_img.jpg'); /* image */
    background-size: cover;
    background-position-y: bottom;
}


#defines p{
    margin-bottom: 10px; /*places some space between the paragraphs */
}


/* Brands Section  */

#brands{
    display: grid; grid-template-rows: 3fr 1fr 1fr; /* creates grid so that the image container has something to stretch to */
}

#brands-img-container{ /* responsive bg image that crops itself */
    background:  /* gradient helps text stand out against image */
        linear-gradient(90deg, rgba(31, 32, 32, 0.438) 5%, rgba(216, 216, 217, 0) 76%),
        url('Images/brands_img.jpg');
    background-size: cover;
    background-position: center;
    width: 75%;
    height: 85%;
    margin: 0 auto; /* centers image */
    align-self: end; /* places image at bottom of grid cell so it overlaps with the h3 */
}

#brands h3{ /* overlaps text slightly with the image */
    position: relative;
    top: -30px;
}



#brands li{ /* brands list styling */
    font-family: var(--header-font);
    font-size: var(--emphasis-text-size);
    padding: 15px 10px;
    display: flex; /* places the span beside the text after we change it to a block element */
    align-items: center; /* places span at vertical center */
    white-space: nowrap; /* ensures span element stops at the end of the brand name and doesn't linebreak it */
}

#brands ul span{ /* turnng the span element into a horizontal line */
    display: block;
    width: 100%; height: 0;
    border: 1px solid var(--light-bg);
    margin-left: 10px;
}

/* ---TESTIMONIAL--- */

#testimonial{ /* styling section */
    font-size: var(--emphasis-text-size);
    background-color: var(--green-accent);
    border: 3px solid var(--dark-green);
    border-left: none;
    border-right: none;
    color: #e3dfd4;
    display: flex;
    flex-direction: column;
}

#quote{ /* styling the customer's quote */
    font-size: var(--emphasis-text-size);
    grid-column: span 2; /* stretches across entire grid */
    display: flex; /* places the quote mark image beside the text */
    align-items: start;
    margin: 25px auto;
    max-width: 500px; /* keeps it from stretching too far at larger sizes */
}

#quote img{ /* makes the quote mark smaller */
    width: 50px;
    padding-right: 10px;
    position: relative;
    top: -20px
}

#testimonial span{
    font-style: italic;
}

/* ---GALLERY---  */

#gallery{ /* making sure the gallery embed is centered */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}



#desktop-instagram{
    display: none;
}


/* ---FOOTER--- */

footer{
    padding-top: 50px; padding-bottom: 0;
    margin-bottom: 0;
    background-color: var(--dark-bg);
    color: var(--light-text);
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

/* Contact section  */

#contact h2,
#contact h2 + p{ /* hides the title and subtitle but keeps them acessible */
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

footer img:first-child{ /*places salon logo center */
    width: 100px;
    align-self: center;
}

/* Form */

form,
#comm{
    display: flex;
    flex-direction: column;
}

form label{
    padding: 15px 0 5px 0;
}

textarea{
    font-family: var(--main-font);
    background-color: var(--light-bg);
    border: 3px solid var(--gold-accent);
    color: #a7a49e;
}

#comm{
    margin-bottom: 50px;
}

form input{
    height: 30px;
    background-color: var(--light-bg);
}

#comm input{
    height: 100px;
}

#contactSubmit,
#applySubmit{
    height: 50px;
    background-color: var(--gold-accent);
    border: none;
    color: var(--light-text);
    font-size: var(--emphasis-text-size);
    text-transform: uppercase;
}

/* Footer info */

#footer-info{
    display: grid; grid-template-columns: 1fr 1fr;
    position: relative;
    padding-bottom: 20vh;
}

#footer-info nav,
#footer-info section{
    padding:25px 15px ;
}

#footer-info a{
    color: #a7a49e;
}

#footer-info h2{
    font-family: var(--main-font);
    font-size: var(--regular-text-size);
}

footer nav li{
    padding: 5px 0;
}

address,
footer dl,
footer ul,
#hours p,
small{
    color: #a7a49e;
    line-height: 1.2rem;
    font-size: .8rem;
}


/* Socials  */

#socials{
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
}

#socials h2{
    font-family: var(--header-font);
    font-size: var(--main-header-size);
}

#socials ul{
    display: flex;
    padding-right: 30px;
}

#socials img{
    width: 50px;
}


/* Business hours */
#hours dl{
    display: grid; grid-template-columns: 1fr 1fr;
}

/* Site Navigation  */

#site-nav{
    grid-column: 2;
}

/* Legal Section  */

#policies-nav{
    grid-column: 1; grid-row: 4;
}

#copywrite{
    position: absolute;
    bottom: 0;
    display: grid; grid-template-columns: 1fr .5fr;
    column-gap: 10px;
    align-items: center;
    border-top: 1px solid var(--gold-accent);
}

footer button{
    background-color: transparent;
    border: none;
}



/* -----SCHEDULE PAGE STYLING----- */

/* ---HEADER--- */


#header-bar[class="dark-nav"]{
    background-color: var(--dark-bg);
}


.large-break{
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 2rem;
}

#schedule-header div:first-child{
    padding-top: 100px;
}

/* ---STYLIST BLOCKS--- */

#stylists{
    background-color: var(--dark-bg);
    display: grid;
    grid-gap: 5vw;
}

.stylist-duo{
    border: 1px solid var(--light-bg);
    display: grid; grid-template-columns: 50% 50%;
    column-gap: 5vw;
    background-color: var(--dark-bg);
    padding-top: 2vh; padding-bottom: 2vh;
    
}

/* Article Styling */
article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

figcaption h3{
    padding: 0;
}

figcaption,
article a{
    text-align: center;
    color: var(--light-text);
}

figure{
    text-align: center;
}

figcaption{
    position: relative;
    z-index: 50;
}

figure img{
    display: block;
    border-radius: 50%;
    width: 100%;
}

figcaption p{
    font-style: italic;
    padding: 5px 0 15px 0;
    font-family: var(--header-font);
}

#overlay{ /* setting up for linear gradient overlay */
    position: relative;
    width: 80%;
    margin: 0 auto;
    top:15%;
}

#overlay:after{ /* adds linear gradient overlay to photos for text visibility */
    border-radius: 50%;
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; height: 100%;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%);
}


.last-block{
    display: flex;
    justify-content: center;
}

#preston{
    width: 40%;
}

#jessica .break{
    white-space: nowrap;
    font-size: 1.2rem;
}

#cassie figcaption p,
#cyndee figcaption p{
    white-space: nowrap;
}

/* Schedule button  */

article a{
    text-decoration: none;
    border: 1px solid var(--light-bg);
    border-radius: 5px;
    padding: 15px 20px;
    font-style: italic;
}

/* ---APPLY DIRECTION--- */

#apply-direction{
    background-color: var(--dark-bg);
    color: var(--light-text);
    display: grid; grid-template-columns: 1fr 1fr;
    justify-items: center;
    background:  /* gradient helps text stand out against image */
        linear-gradient(0deg, rgba(31, 32, 32, 0.6) 100%, rgba(216, 216, 217, 0) 76%),
        url('Images/apply_img_blur.png');

    background-repeat: no-repeat;
    background-size: cover;   
    height: 30vh;
}

#apply-direction a{
    background-image: url('Images/Logos_Icons/apply_button-cropped.svg');
    color: var(--light-text);
    background-size: contain;
}


/* -----APPLICATION PAGE----- */

/* ---HEADER--- */

#app-header{
    display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 100px auto;
}

#app-header h1{
    grid-row: 2;
}
#app-header p{
    grid-column: 1; grid-row: 3;
}

#apply-img-container-header{
    grid-column: 2;
    grid-row: 2 / span 2;
    background-image: url('Images/brands_img.jpg');
    background-size: cover;
    background-position: center;
    margin: 5vw;
    min-height: 30vh;
}

#app-form{
    background-color: var(--green-accent);
    color: var(--light-text);
    padding-top: 0;
}

#input-fields{
    display: flex;
    flex-direction: column;
}

fieldset legend{
    padding-top: 15px;
}

fieldset{
    border: 1px solid var(--light-bg);
    padding: 20px;
}

#applySubmit{
    margin-top: 20px;
}

input[type="file"]{
    background-color: transparent;
    border: none;
    color: var(--light-text);
    text-transform: uppercase;
}



@media screen and (min-width:1200px){

    :root{ /*redefining the font size variables */
        --main-header-size: 6rem;
        --sub-header-size: 3.5rem;
        --emphasis-text-size: 2.3rem;
        --regular-text-size: 1.5rem;
    }

    h3{
        font-size: var(--main-header-size);
    }
        
    .padding-m{
        padding: 10vh 15vw;
    }

    #header-bar{ /* placing logo and nav side by side */
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* ---DROPDOWN MENU--  */
    nav label,
    nav input{ /* hiding hamburger icon */
        display: none;
    }

    /* Getting rid of the dropdown menu */
    .dropdown {
        display: block;
        position: static; /* brings dropdown back to being onscreen on page load */
        background-color: transparent;
        box-shadow: none;
        width: auto; height: auto;
    }

    /* Navigation links styling */
    .nav-links {
        flex-direction: row; /* arranges nav items horizontally instead of vertically */
    }

    .nav-links li { /* gets rid of previous styling */
        border: none;
        width: max-content;
    }

    .nav-links a {
        font-size: 1rem;
        padding: 0 15px;
    }

    .social-links{ /* gets rid of facebook and insta icons */
        display: none;
    }
    

    /* ---HERO SECTION--- */

    #hero{
        background-position:20%;
        padding-top: 25vh;
        height: 75vh; /*hero section takes up entire screen. 75 accounts for the 25 padding*/
    }

    /* Font Styling  */

    .small-break{ /* adjust line height gap */
        position: relative;
        top: -25px;
        white-space: nowrap;
    }

    #hero p{
        max-width: 300px;
    }

    /* ---SERVICES--- */

    #services{
        grid-template-rows: .2fr .2fr 1fr .5fr 1fr; grid-template-columns: 1fr 1.5fr;
    }

    #services-img-container{
        grid-row: 2 / span 3;
    }

    #services-ul{
        position: static;
        grid-row: 3; grid-column: 1;
        width: 100%;
        display: grid; grid-template-columns: 1fr 1fr;
    }

    #services-ul li{
        display: flex;
        align-items: center; justify-content: center;
        height: 50%;
    }

    /* Specialties  */

    #specialties{
        grid-column: 1; grid-row: 4;
        margin: 0;
        white-space: nowrap;
    }

    #specialties ul{
        column-gap: 50px;
    }

    /* Link group Styling  */

    #services-link-group{
        grid-row: 5;
        grid-template-rows: 1fr .5fr;
        max-width: 600px;
        margin-top: 50px;
    }

    #services-link-group a + p{
        grid-column: span 1;
        text-align: left;
    }

    #services a{
        grid-row: span 2;
    }

    /* DEFINES SECTION  */

    #defines{
        height: 50vh;
        background: 
            linear-gradient(90deg, rgba(46, 46, 56, 1), rgba(0, 0, 0, 0) 55%),
            url("Images/defines_img.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 30vw;
    }

    #defines p{
        max-width: 500px;
        padding-left: 15px;
    }

    #defines h3{
        margin-top: 10vh;
        padding-bottom: 25px;
    }

    /* ---BRANDS SECTION--- */

    #brands{
        grid-template-columns: 1fr 1fr; grid-template-rows: repeat(3, 1fr);
        column-gap: 5vw;
    }

    #brands-img-container{
        grid-row: span 2;
        align-self: center;
        width: 100%; height: 100%;
    }

    #brands h3{
        position: static;
        grid-column: 1; grid-row: 1;
        align-self: end;
        padding-bottom: 25px;
    }

    #brands p{
        max-width: 500px;
    }

    #brands ul span{
        display: none;
    }

    #brands ul{
        grid-column: span 2;
        display: grid; grid-template-columns: repeat(5, minmax(100px, 300px));
        column-gap: 5vw;
        padding-top: 50px;
        justify-items: center;
        max-width: 75vw;
        margin: 0 auto;
    }

    #brands li{
        white-space: wrap;
        font-size: var(--regular-text-size);
        border: 1px solid var(--light-bg);
        justify-content: center;
        text-align: center;
        width: 100%;
    }


    /* ---TESTIMONIAL--- */

    #testimonial{
        flex-direction: row-reverse;
        align-items: center;
    }

    #quote{
        margin: 10vh auto;
        max-width: 100%;
        border-left: 2px solid var(--light-bg);
        font-size: var(--sub-header-size);
    }

    #testimonial p{
        font-size: var(--emphasis-text-size);
        min-width: 250px;
        margin: 10vh 0 10vh auto;
        padding-right: 50px;
    }


    /* --GALLERY--- */

    #mobile-instagram{
        display: none;
    }

    #desktop-instagram{
        display: block;
        width: 100vw;
    }

    #gallery h2{
        text-align: center;
    }

    /* ---CONTACT--- */

    footer{
        background-color: transparent;
        color: var(--dark-text);
        padding: 0;
    }

    footer img[alt="Fringe salon logo"]{
        display: none;
    }

    #contact{
        display: grid;
        grid-template-columns: .5fr 1fr;
    }

    #contact h2,
    #contact h2 + p{
        position: static;
        width: 100%;
        height: auto;
        grid-column: 1 / span 2;
    }

    form{
        grid-row: 3;
        grid-column: 2;
        width: 100%;
        max-width: 600px;
        border: 2px solid var(--dark-green);
        justify-self: start;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 25px;
        padding: 5vh 5vw;
        margin-top: 5vh;
    }

    form input{
        border: 3px solid var(--gold-accent);
    }

    #name{
        grid-column: 1;
    }

    #email,
    label[for="email"]{
        grid-column: 2;
    }

    label[for="email"]{
        grid-row: 1;
    }

    #comm,
    label[for="comm"]{
        grid-column: 1 / span 2;
    }

    #contactSubmit{
        width: 50%;
        font-size: var(--regular-text-size);
    }
    #contact-img-container{
        background-image: url("Images/contact_img.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 40vh;
        max-height: 600px;
        width: 50vw;
        max-width: 900px;
        grid-row: 4;
        grid-column: 1 / span 2;
        z-index: -50;
        position: relative;
        top: -125px
    }

    #footer-info{
        position: relative;
        background-color: var(--dark-bg);
        color: var(--light-text);
        grid-template-columns: repeat(5, 1fr);
        padding: 10vh 10vw 0 10vw;
    }

    address, 
    footer dl, 
    footer ul, 
    #hours p, 
    small{
        font-size: 1rem;
    }

    #socials{
        grid-column: 1 / span 1;
    }

    #socials ul{
        flex-direction: column;
    }

    #socials img{
        width: 100px;
    }

    #socials h2,
    #site-nav h2,
    #policies-nav h2{
        position:absolute;
        left:-10000px;
        top:auto;
        width:1px;
        height:1px;
        overflow:hidden;
    }

    #address{
        grid-column: 2;
    }

    #site-nav,
    #policies-nav{
        grid-column: 1 / span 5;

    }

    #site-nav ul{
        display: flex;
        justify-content: center;
    }
    #site-nav li{
        padding: 0 25px;
    }

    #policies-nav ul{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    #policies-nav li{
        padding: 0 15px;
    }

    #copywrite{
        display: block;
        position: static;
        grid-row: 5;
        grid-column: span 6;
        margin: 0;
        text-align: center;
        border: none;
    }

    footer button{
        display: none;
    }


    /* -----SCHEDULE PAGE STYLING----- */


    .large-break{
        font-size: 9rem;
    }

    #stylists{
        grid-template-columns: repeat(3, 25vw);
        padding-top: 30vh;
    }

    article{
        justify-content: center;
        align-items: center;
        font-family: var(--header-font);
    }

    article h3{
        font-size: 2.5rem;
    }

    #owner-duo{
        right: -15vw;
        max-width: 45vw;
        min-width: auto;
        column-gap: 1vw;
    }

    #owner-duo figure img{
        width: 100%;
    }

        
    .stylist-duo{
        position: relative;
        top: -45vh;
        grid-column: 1 / span 3;
        justify-self: center;
        min-width: 650px;
        padding: 2vh 7vw;
    }

    .stylist-duo:not(#owner-duo){
        right: 7.5vw;
    }

    figure{
        display: grid; grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
    }
    
    #overlay::after{
        display: none;
    }

    figure{
        justify-self: center;
        width: 100%;
    }

    figcaption{
        text-align: left;
        align-self: center;
    }

    article figure{
        top: 0;
    }

    article a{
        position: relative;
        left: -25%;
        width: 25%;
        justify-self: center;
        background-color: var(--dark-bg);
    }

    #apply-direction{
        position: relative;
        top: -20vh;
    }


    /* -----APPICATION PAGE----- */

    #apply-body{
        display: grid; grid-template-columns: 35vw 65vw;
    }

    #app-header{
        display: block;
        padding-bottom: 0;
    }

    #app-header p{
        font-size: 1.5rem;
        line-height: 2rem;
    }

    #app-header h1{

        min-width: 390px;
    }

    #apply-img-container-header{
        background-image: none;
        min-height: fit-content;
    }

    #app-form{
        background-color: transparent;
        color: var(--dark-text);
        height: 100vh;
        margin-top: 50px;
    }

    #app-form form{
        display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: repeat(5, 15vh);
        max-width: 50vw;
        margin: 0 auto;
        border: none;
        flex-shrink: none;
        row-gap: 10px;
        width: auto;
    }

    #apply-img-container{
        background-image: url('Images/brands_img.jpg');
        background-size: cover;
        background-position: center;
        grid-row: 1 / span 4;
        grid-column: 2;
    }

    #input-fields{
        grid-row: 2 / span 4;
        border: 1px solid var(--dark-bg);
        padding: 1vh 2vw;
        justify-content: center;
    }

    #applySubmit{
        grid-row: 5;
        grid-column: 2;
        width: 100%;
        height: 50%;
        margin: 0;
        align-self: end;
    }

    fieldset{
        border: 3px solid var(--gold-accent);
    }

}